<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visitor Form</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="w_visitor.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

	
	<style>
		.photo_area {
  
    background-color: white;
    width: 400px;
    height: 530px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
  
}



.camera {
    background-color:#FCD7C1;
    margin-left: 45px;
    margin-top: 20px;
    width: 300px;
    height: 200px;
    column-gap: 50px;
    border-radius: 10px;


}
.capture{
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-left: 45px;
    background-color: #FCD7C1;
    border-radius: 10px;
}

.button{

    margin-top: 20%;
    margin-left: 70px;
    border-radius: 15px;
    background-color:#F49A59;
}


.nav{
  height: 75px;
  background-color: #FF740F;
}
.slogan{
  margin-left: 20px;
  margin-top: 15px;
} 
/* body {
  background: #007bff;
  background: linear-gradient(to right, #f5f7f9, #f2f5f7);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
} */

/* .btn-primary {
  color: white;
  background-color: #FF740F;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
} */
#login{
  background-color: #f17f2c;
}
#google{
  background-color: #f17f2c;
}
.who{
  text-align: center;
  padding-bottom: 40px;
  padding-left: 10px;
}
.social{
  position: absolute;
  top: 95%;
  left: 1%;
  color: #FF995C;
}
a:link { text-decoration: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.input {
  background-color: white;
  max-width: 190px;
  height: 40px;
  padding: 10px;
  /* text-align: center; */
  border: 1px solid black;
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input:focus {
  color: 	rgb(255,165,0);
  background-color: white;
  outline-color: 	rgb(255,165,0);
  box-shadow: -3px -3px 15px 	rgb(255,165,0);
  transition: .1s;
  transition-property: box-shadow;
}
	</style>

<div class="nav">
    <nav class="nav" style="background-color: #FF740F;">
        <!-- <a class="nav-link active" aria-current="page" style="color: black;">Your Security Is Our Motto</a> -->
        <h2 class="slogan">Your Security Is Our Motto</h2>
    </nav>
</div>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="row">
      <div class="bg-dark p-4">
		  <a th:href="@{/who}"><h5  style="color: gray;">Home</h5></a>
          <h5  style="color: gray;">About Us</h5>
          
             <form th:action="@{/logout}" method="post">
			<button type="submit" class="btn btn-outline-primary">Log Out</button>
	
		</form>
        </div>
    </div>
    </div>
    <nav class="navbar navbar bg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>


<h1 style="text-align: center;">Fill The Visitor Details</h1>

<table>
    <tr>
        <td></td>
        <td>
            <section class="h-100 bg" style="margin-left:185px;">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="card card-registration my-4"
                                style="border: 2px solid grey;border-radius: 15px;">
                                <div class="row g-0">
                                    <div class="col-xl-6 d-none d-xl-block">
                                        <div class="photo_area"><br>
                                            <div class="camera">
                                                <!-- Camera access -->
                                                  <video id="camera" autoplay style="height: 200px; width: 300px;border-radius: 2px solid  ;padding: 10px;"></video>
                                            </div>
                                            <div class="capture">
                                                <!-- photo capture-->
                                                <canvas id="photo" style="height: 200px; width: 300px;border-radius: 2px solid;padding: 20px;"></canvas>
                                            </div>
                                            <button class="button" id="capture">Take
                                                Picture</button>
                                            <button class="button" id="save">Save
                                                Image</button>
                                        </div>

                                    </div>
                                    <div class="col-xl-6">
                                        <div class="card-body p-md-5 text-black">
                                            <h3 class="mb-5 text-uppercase">Visitor registration form</h3>

                                            <form action="register_success.html" th:action="@{/w_visitor}" th:object="${visitor}" method="post">
												<div class="form-outline mb-4">
                                                <input type="text"  id="name" name="name" th:field="*{name}" class="form-control form-control-lg" />
                                                <label class="form-label">Enter Name</label>
                                            </div><br>
                                            <div class="form-outline mb-4">
                                                <input type="text" id="house_no" name="house_no" th:field="*{house_no}" class="form-control form-control-lg" />
                                                <label class="form-label">House No.</label>
                                            </div><br>

                                            <div class="form-outline mb-4">
                                                <input type="text" id="reason_visit" name="reason_visit" th:field="*{reason_visit}" class="form-control form-control-lg" />
                                                <label class="form-label">Reason for visit</label>
                                            </div><br>

                                            <div class="form-outline mb-4">
                                                <input type="text" id="to_visit" name="to_visit" th:field="*{to_visit}" class="form-control form-control-lg" />
                                                <label class="form-label">To Visit</label>
                                            </div><br>
                                            
                                              <div class="form-outline mb-4">
                                                <input type="text" id="to_visit_no" name="to_visit_no"  class="form-control form-control-lg" />
                                                <label class="form-label">To Visit Phone Number</label>
                                            </div><br>
                                            
                                            <div class="form-outline mb-4">
                                                <input type="text" id="visitor_phone" name="visitor_phone" th:field="*{visitor_phone}" class="form-control form-control-lg" />
                                                <!--<input placeholder="Enter your text..." class="input" name="visitor_phone" id="visitor_phone" type="text" class="form-control form-control-lg"/>--><br>
                                                <label class="form-label">Visitor Phone No</label>
                                            </div><br>
                                            


                                            <div class="d-flex justify-content-end pt-3">
                                                <!-- <button type="button" class="btn btn-light btn-lg">Reset all</button> -->
                                                
												                       
													    <button type="button" class="btn btn-warning btn-lg ms-2"  onclick="sendMsg()">
                                                    Get Permission</button>
                                                    <a th:action="@{/register_success}"><button type="submit" class="btn btn-warning btn-lg ms-2" href="register_success.html">Submit
                                                    form</button></a>  
												 
												

                                            </div>
                                             <!--<input type="hidden" id="status" name="status" th:field="*{status}" class="form-control form-control-lg" value="false" />-->
                                              <!-- <input type="hidden" id="visiting_time" name="visiting_time" th:field="*{visiting_time}" class="form-control form-control-lg" value=myFunction()/>-->
                                             <br> 
											</form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                
            </section>

        </td>
    </tr>
</table>
 <center>
		<a th:href="@{/who}"><button type="button"class="btn btn-light btn-lg" style="background-color: #FF740F;">Go Home</button></a>
	 </center>
    
<div class="alert alert-success" style="visibility: hidden; " id="success_alert">
    <strong>Success!</strong> Your Photo Suceesfully saved.
</div>


<script>
      // Select the video element
      var camera = document.getElementById("camera");

      // Get access to the camera
      if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
          .then(function (stream) {
            camera.srcObject = stream;
          })
          .catch(function (error) {
            console.log("Something went wrong!");
          });
      }
    
      var capture = document.getElementById("capture");
      var photo = document.getElementById("photo");
      var context = photo.getContext("2d");
    
      capture.addEventListener("click", function() {
        context.drawImage(camera, 0, 0, photo.width, photo.height);
      });
    
      var save = document.getElementById("save");
      save.addEventListener("click", function() {
        // Get the image data from the canvas
        var dataURL = photo.toDataURL();
    
        // Create a link element
        var link = document.createElement("a");
        link.download = "visitor.png";
        link.href = dataURL;
    
        // Trigger the download
        link.click();
      });
      if (!('webkitSpeechRecognition' in window)) {
  // The Web Speech API is not supported on this browser
  // You can show an error message or use a different speech recognition library
  console.log("Web Speech API is not supported on this browser");
} else {
  // The Web Speech API is supported, you can proceed with the implementation
  var recognition = new SpeechRecognition();
  // ...
} 

   //for whasapp msg
function returnName() {
    const name = document.getElementById("name").value;
   return name;
}

function returnHouseNo() {
    const house_no = document.getElementById("house_no").value;
   return house_no;
}

function returnReason() {
    const reason_visit = document.getElementById("reason_visit").value;
   return reason_visit;
}

function returnTovisit() {
    const to_visit = document.getElementById("to_visit").value;
   return to_visit;
}

function returnVisitorno() {
    const visitor_phone = document.getElementById("visitor_phone").value;
   return visitor_phone;
}
   
function returnTovisitno() {
    const to_visit_no = document.getElementById("to_visit_no").value;
   return to_visit_no;
}
   


   
   
      function sendMsg() {
        var myHeaders = new Headers();
        
myHeaders.append("Content-Type", "application/json");

var raw = JSON.stringify({
    
    "token": "b3wneg2zgspxpexc",
    "to":"+91"+returnTovisitno(),
    "body": "GREETINGS FROM PROTEGO \n\n"+"It seems that you may have a new visitor waiting for you .\n\n Visitor by the name of "+returnName()+" wants to visit your house with house number "+returnHouseNo()+"\n and is willing to visit for the reason of "+returnReason()+"\n"+"\n and is willing to visit "+ returnTovisit()+" of your house \n kindly reply with a simple YES or NO message to let the Guard know if You are Willing to allow the visitor "+"\n Here is the cell phone number of the visitor in case you want to contact the visitor directly\n visitor No : "+returnVisitorno()
});

var requestOptions = {
  method: 'POST',
  headers: myHeaders,
  body: raw,
  redirect: 'follow'
};

fetch("https://api.ultramsg.com/instance40174/messages/chat", requestOptions)
  .then(response => response.text())
  .then(result => console.log(result))
  .catch(error => console.log('error', error));
}

// function sendWhatsappMessage() {
//   // Get form data
//   const name = document.getElementById("name").value;
//   const email = document.getElementById("email").value;
// //   const message = document.getElementById("message").value;

//   // Create WhatsApp message
//   const whatsappMessage = `Name: ${name}%0AEmail: ${email}`;

//   // Create WhatsApp link
//   const link = `https://api.whatsapp.com/send?phone=+916353003258&text={whatsappMessage}`;

//   // Open WhatsApp chat window
//   window.open(link);
// }

      
    </script> 
    



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>